{% extends 'base.html' %}

{% block meta %}
    <title>Add New Item</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-pink-100" >
    <div class="bg-white p-8 rounded-lg mx-auto shadow-md m-6">
        <h1 class="text-2xl font-bold mb-4 text-pink-700">Add New Item</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
                {{ form.name }}
            </div>
            <div class="mb-4">
                <label for="{{ form.amount.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Amount:</label>
                {{ form.amount }}
            </div>
            <div class="mb-4">
                <label for="{{ form.price.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Price:</label>
                {{ form.price }}
            </div>
            <div class="mb-4">
                <label for="{{ form.description.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
                {{ form.description }}
            </div>
            <div class="mb-4">
                <input class="bg-pink-500 hover:bg-pink-600 text-white font-semibold px-4 py-2 rounded-full" type="submit" value="Add Product" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}
