<header>
    <h1>🌸Sasana Orchid Nursery✨</h1>
</header>

<h3>App Name:</h3>
<p>main</p>
<h3>Name:</h3>
<p>{{ name }}</p>
<h3>Class:</h3>
<p>{{ class }}</p>

{% if last_item %}
<h3> Kamu telah menambah stok {{ last_item.name }} sebanyak {{ last_item.amount }} pada toko!😊</h3>
{% endif %} 

<table border='1'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                <a href="{% url 'main:dec_amount' item.id %}">
                    <button>-</button>
                </a>
                <span id="amount-{{ item.id }}">{{ item.amount }}</span>
                <a href="{% url 'main:inc_amount' item.id %}">
                    <button>+</button>
                </a>
            </td>
            <td>{{ item.price }}</td>
            <td>{{ item.description }}</td>
            <td>
                <a href="{% url 'main:delete_item' item.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout_user' %}">
    <button>
        Logout
    </button>
</a>
